.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px 2px ;
    height: 100vh;
    grid-auto-flow: column ;
    /* con esta propiedad indicamos donde debe añadir los ítems no especificados */
    grid-auto-columns: 100px 150px;
    /* con esta propiedad indicamos el tamaño de las columnas añadidas */

}
.item{
    padding: 10px;
    border: 2px solid red;
    background-color: royalblue;
    display: grid;
    grid-template:50px 50px 50px / 50px 50px 50px ;   
}
.item:nth-of-type(1){
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
}
.item:nth-of-type(5){
    grid-column: 1 / span 2;
    background-color: seagreen;
}
.item:nth-of-type(8){
    grid-column: 1 / -1;
    background-color: tomato;
}
